/* especialidades */
.especialidades {
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-areas:
    "integral implantes"
    "ortodoncia endodoncia";
    row-gap: 100px;

    img {
        width: 300px;
        height: 300px;
    }

    .integral {
        width: 400px;
        height: 400px;
        border: 2px solid black;
        border-radius: 20px;
        grid-area: integral;
        transition: all 0.8s;
        margin-top: 15%;
    }
    .implantes {
        width: 400px;
        height: 400px;
        border: 2px solid black;
        border-radius: 20px;
        grid-area: implantes;
        transition: all 0.8s;
        margin-top: 15%;
    }
    .ortodoncia {
        width: 400px;
        height: 400px;
        border: 2px solid black;
        border-radius: 20px;
        grid-area: ortodoncia;
        transition: all 0.8s;
    }
    .endodoncia {
        width: 400px;
        height: 400px;
        border: 2px solid black;
        border-radius: 20px;
        grid-area: endodoncia;
        transition: all 0.8s;
    }
    .integral:hover {
        width: 450px;
        height: 450px;
    }
    .implantes:hover{
        width: 450px;
        height: 450px;
    }
    .ortodoncia:hover{
        width: 450px;
        height: 450px;
    }
    .endodoncia:hover{
        width: 450px;
        height: 450px;
    }

}