/* Footer*/
/*.footer {
    color: white;
    background-color: black;
    text-align: center;

    .footerLogo {
        border: 1px solid rgb(128, 10, 10);
        width: 85px;
        height: 85px;
        margin-left: 47%;
        margin-top: 30px;
    }
}*/

.footer {
    color: white;
    background-color: black;
    text-align: center;
}